
mark {
    background-color: #D3968C;
    color: #0A3323;
    padding: 3px 6px;
    font-weight: bold;
    border-radius: 4px;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}


iframe {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16 / 9; 
    height: auto;          
    border: 2px solid #839958;
    border-radius: 6px;
    display: block;
    margin: 15px auto;
}

@media (min-width: 768px) {
    iframe {
        max-width: 650px;
    }
}
